name: Deploy Github Pages # Actions 名字

on: # 触发条件
  push:
    branches:
      - master # 仅向 master 分支 push 时触发

jobs:
  build: # job id
    name: Build and publish gh-pages # job 名，不写默认使用 job id
    runs-on: ubuntu-latest # 运行环境，可选 ubuntu-latest, ubuntu-18.04, ubuntu-16.04, windows-latest, windows-2019, windows-2016, macOS-latest, macOS-10.14

    steps:
      - name: 配置 SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}  # 引用仓库中配置的私钥 Secret

           # 步骤 2：验证 SSH 连接（可选，用于调试）
      - name: 测试与 GitHub 的 SSH 连接
        run: ssh -T git@github.com || true  # 测试能否通过 SSH 连接 GitHub
        # 成功提示：Hi <用户名>! You've successfully authenticated...

      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: npm install 安装依赖包
        run: |
          npm install
      - name: Generate public files
        run: |
          npm run docs:build
      # 发布到 github pages 上
      - name: Auto Deploy
        env:
          # GH_REF: github.com/yingliyu/fish-ui.git
          # ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }} 
          GH_REF: git@github.com:yingliyu/fish-ui-pro.git
          # github token
          # GITEE_REF: gitee.com/ylyubook/fish-ui.git
          # GITEE_TOKEN: ${{ secrets.GITEE_TOKEN}} # gitee token
        run: |
          git config --global user.name "yingliyu"
          git config --global user.email "404997046@qq.com"
          git clone ${GH_REF} .deploy_git
          cd .deploy_git
          git checkout gh-pages
          cd ../
          mv .deploy_git/.git/ ./docs-dist
          cd ./docs-dist
          git add .
          git commit -m ":construction_worker:CI built at `date +"%Y-%m-%d %H:%M:%S"`"
          # GitHub Pages
          git push origin gh-pages:gh-pages
          # Gitee Pages 
          # git push --force --quiet "https://ylyubook:${GITEE_TOKEN}@${GITEE_REF}" gh-pages:gh-pages
